beautifulsoup4==4.11.1
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164373/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046055389/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639414572950/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///tmp/build/80754af9/cython_1647850345254/work
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1651266921983/work
docker-pycreds==0.4.0
eagerpy==0.30.0
efficientnet-pytorch==0.6.3
filelock==3.6.0
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1651017733844/work
foolbox==3.3.3
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
gdown==4.4.0
gitdb==4.0.9
GitPython==3.1.27
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1637963928098/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1649816521302/work
imagecorruptions==1.1.2
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1650911780011/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1648854392795/work
kornia==0.6.4
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1639359646028/work
munch==2.5.0
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1649567584534/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020388495/work
opencv-python==4.5.5.64
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathtools==0.1.2
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1649817996082/work
pretrainedmodels==0.7.4
promise==2.3
protobuf==3.20.1
psutil==5.9.0
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857263093/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1649616400802/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757097602/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1649033202141/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1649013070954/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1645196657675/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1640464150285/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1644357253444/work
segmentation-models-pytorch==0.2.1
sentry-sdk==1.5.10
setproctitle==1.2.3
shortuuid==1.0.8
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
soupsieve==2.3.2.post1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1651236837101/work
timm @ file:///home/conda/feedstock_root/build_artifacts/timm_1625085613679/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.11.0
torchaudio==0.11.0
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1651054202826/work
torchvision==0.12.0
tqdm==4.64.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111919389/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
wandb==0.12.15